body{
  box-sizing: border-box;
}
h1{
  text-align: center;

}
html{
  font-family: 'Raleway', sans-serif;
  background-color:#c0c5ce;
}
.main-calc{
border: 3px solid black;
width: 30%;
margin: auto;
display: flex;
flex-direction: column;
height:50vh;
}
#currentmath{
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight:600;
  background-color:#65737e;
  color:#c73530;
  border-bottom: .5px solid black;
}
#display{
  width: 100%;
  padding: 10px 0;
  height:20%;
  font-size:30px;
  background-color:#65737e;
  text-align: right;
  color: white;

}

#grid{
    width: 100%;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:75%;
}

.number{
  flex: 0 0 25%;
  font-size:18px;

}
button{
  font-family: inherit;
  background-color:#343d46;
  color:white;
font-size:18px;
}
.number:hover, #resetbut:hover{
  transform:scale(1.1);
  background-color:#65737e;
  border: 2px solid black;
  color:black;
}
#resetbut{
  background-color:#c73530;
}

#butdiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
.resetdiv{
width:100%;
}
#resetbut{
  width:100%;
  padding:5px;
}
#reset-dialog{
  margin-top:5%;
  color: red;
  text-align:center;
}
#warning-dialog{
  color: red;
  text-align:center;
}
